
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

body {
  margin: 0 auto;
  width: 100vw;

  background-color: white;
  overflow-x: hidden;
  /* overflow: hidden; */
}

/* NAVBAR */
header{position: sticky;
  position: -webkit-sticky;
	background: rgb(255, 255, 255);
	top: 0;
  z-index: 3;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 4px 5px 8px rgba(92, 92, 92, 0.582);
}
nav .logo img {
  margin: 0 10px;
  height: 30px;
}
nav .btn_idioma select {
  margin: 0 30px;
  height: 60px;
  width: 60px;

  text-align: center;
}
nav .btn_idioma option {
  font-size: 25px;
  height: 60px;
  width: 60px;
  text-align: center;
}

/* MAIN */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1000px;

  margin: 30px auto;
}

/* CONTENEDOR DE VIDEOS */
.videos_container {
  width: 47%;
}
.video_presentacion {
  margin: 10px 0;
}
.video_presentacion iframe {
  width: 100%;
}

/* FORMULARIO DE CONTACTO */

.contact {
  width: 47%;
  max-width: 420px;
}
.contact form h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 40px 0;
}
form input {
  width: 100%;
  padding: 1em 0.75em;
  margin: 15px 0;
  border: 1px solid grey;
  border-radius: 5px;
  /* box-shadow:  1px 1px 5px grey; */
}
/* INPUTS */
 .input-container {
  /* width: 280px; */
  position: relative;
}
 .label {
  position: absolute;
  left: 10px;
  top: 30px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: #b3b3b3;
}
.labelTextArea {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: #b3b3b3;
}
.text-input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 1px solid #464646;
  background: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  color: rgb(0, 0, 0);
}

.label::before {
  content: "";
  height: 5px;
  background: rgba(255, 255, 255, 0.165);
  position: absolute;
  left: 10px;
  top: 15px;
  width: 100%;
  z-index: -1;
}

.text-input:focus {
  border: 2px solid #000000;
}

.text-input:focus + .label,
.filled {
  top: -2px;
  left: 0;
  color: #000000;
  font-size: 14px;
  background-color: white;
}
label  .filled {
  top: -10px;
  color: #000000;
  font-size: 14px;
}

.text-input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}
.text-input:focus::placeholder {
  opacity: 1;
}

/* FIELDSET SECCITION */

fieldset{
  border: none;
  margin: 20px 0;
}

.fieldset-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 50px;
}
.fieldset-input:hover{
  background-color: #ececec;
  box-shadow:  1px 1px 5px grey;
}

.fieldset-input label{
  width: 100%;
  height: 50px;
}
.fieldset-input input{
  width: 20px;
  height: 20px;
}

/* TEXTAREA */
textarea{
  width: 100%;
  height: 200px;
  padding: 10px;
}
.text-input:focus + .textarea,
.filled {
  top: -3px;
  left: 0;
  color: #000000;
  font-size: 14px;
  background-color: white;
}
label .textarea .filled {
  top: -10px;
  color: #000000;
  font-size: 14px;
}
/* SUBMIT BUTTON */
.form_submit {
  background-color: #3f51b5;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  margin: 20px auto;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  color: white;
  font-size: 20px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 150px;
  background-color: rgb(41, 41, 41);
  z-index: 3;
}

footer .empresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 32%;
  padding: 0 30px;
}
footer .empresa img {
  width: 120px;
  margin: 5px 0;
}
footer .empresa p {
  margin: 5px 0;
  text-align: center;
}
footer .empresa a {
  color: rgb(175, 87, 76);
  text-decoration: none;

  margin: 5px 0;
}
footer .contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 32%;
  padding: 0 30px;
}
footer .contacto p {
  margin: 5px 0;
}
footer .contacto a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

footer .contacto_telefono {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 32%;
  padding: 0 30px;
}
footer .contacto_telefono a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

/* ANIMACIONES */

/* input:invalid{
  animation: shake 300ms;
}@keyframes shake {
  25%{transform: translateX(4px);}
  50%{transform: translateX(-4px);}
  75%{transform: translateX(4px);}
} */


@media screen and (max-width:800px) {



}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
